@inherits LayoutComponentBase

<MxDesignSystemProvider>
    <MxNavigationShell Class="showcase-shell">
        <AppBarContent>
            <MxAppBar LogoText="MachSoft Design System" Color="MudBlazor.Color.Primary" Elevation="1">
                <MxLink Href="/components" Text="Catálogo" Color="MudBlazor.Color.Inherit" />
            </MxAppBar>
        </AppBarContent>

        <DrawerContent>
            <NavMenu />
        </DrawerContent>

        <MainContent>
            <MxContainer MaxWidth="MudBlazor.MaxWidth.False" Class="showcase-main-container">
                @Body
            </MxContainer>
        </MainContent>
    </MxNavigationShell>
</MxDesignSystemProvider>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
