// 1
color: var(--icon-inverse, white);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 700;
 line-height: 17.50px;
 word-wrap: break-word
---
// 50
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// Page 1 of 2 (67 items)
color: var(--content-default, #2E4052);
 font-size: 12px;
 font-family: Segoe UI;
 font-weight: 600;
 line-height: 15px;
 word-wrap: break-word
---
// STATIONS
color: var(--content-inverse, white);
 font-size: 12px;
 font-family: Segoe UI;
 font-weight: 700;
 line-height: 12px;
 word-wrap: break-word
---
// 1
color: var(--content-inverse, white);
 font-size: 10px;
 font-family: Segoe UI;
 font-weight: 600;
 line-height: 10px;
 word-wrap: break-word
---
// Mecalux
color: var(--icon-inverse, white);
 font-size: 12px;
 font-family: Segoe UI;
 font-weight: 600;
 line-height: 12px;
 word-wrap: break-word
---
// WAREHOUSE BCN
color: var(--icon-inverse, white);
 font-size: 10px;
 font-family: Segoe UI;
 font-weight: 600;
 line-height: 10px;
 word-wrap: break-word
---
// Search
color: var(--content-disabled, #C3CEDC);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// Stations name
color: #7288A2;
 font-size: 12px;
 font-family: Segoe UI;
 font-weight: 600;
 text-transform: uppercase;
 line-height: 18px;
 letter-spacing: 0.80px;
 word-wrap: break-word
---
// BatteryCharging Station_2
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// LiftingStationForLevelChange_1
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// BatteryCharging Station_2
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// BatteryCharging Station_2
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// BatteryCharging Station_2
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// BatteryCharging Station_2
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// BatteryCharging Station_2
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// BatteryCharging Station_2
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// BatteryCharging Station_2
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// BatteryCharging Station_2
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// BatteryCharging Station_2
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// BatteryCharging Station_2
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// BatteryCharging Station_2
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// BatteryCharging Station_2
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// BatteryCharging Station_2
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// BatteryCharging Station_2
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// BatteryCharging Station_2
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// BatteryCharging Station_2
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// BatteryCharging Station_2
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// BatteryCharging Station_2
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// BatteryCharging Station_2
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// Stations Type
color: #7288A2;
 font-size: 12px;
 font-family: Segoe UI;
 font-weight: 600;
 text-transform: uppercase;
 line-height: 18px;
 letter-spacing: 0.80px;
 word-wrap: break-word
---
// Select an option
color: var(--content-disabled, #C3CEDC);
 font-size: 12px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 12px;
 word-wrap: break-word
---
// 66 - Battery charging station
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 62 - Elevator
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 66 - Battery charging station
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 66 - Battery charging station
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 66 - Battery charging station
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 66 - Battery charging station
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 66 - Battery charging station
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 66 - Battery charging station
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 66 - Battery charging station
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 66 - Battery charging station
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 66 - Battery charging station
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 66 - Battery charging station
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 66 - Battery charging station
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 66 - Battery charging station
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 66 - Battery charging station
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 66 - Battery charging station
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 66 - Battery charging station
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 66 - Battery charging station
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 66 - Battery charging station
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 66 - Battery charging station
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 66 - Battery charging station
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// Stations number
color: #7288A2;
 font-size: 12px;
 font-family: Segoe UI;
 font-weight: 600;
 text-transform: uppercase;
 line-height: 18px;
 letter-spacing: 0.80px;
 word-wrap: break-word
---
// 12
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 1
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 12
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 12
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 12
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 12
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 12
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 12
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 12
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 12
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 12
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 12
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 12
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 12
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 12
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 12
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 12
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 12
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 12
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 12
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 12
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// LEVEL
color: #7288A2;
 font-size: 12px;
 font-family: Segoe UI;
 font-weight: 600;
 text-transform: uppercase;
 line-height: 18px;
 letter-spacing: 0.80px;
 word-wrap: break-word
---
// 1
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 0
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 1
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 1
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 1
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 1
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 1
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 1
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 1
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 1
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 1
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 1
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 1
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 1
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 1
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 1
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 1
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 1
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 1
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 1
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 1
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// AISLE
color: #7288A2;
 font-size: 12px;
 font-family: Segoe UI;
 font-weight: 600;
 text-transform: uppercase;
 line-height: 18px;
 letter-spacing: 0.80px;
 word-wrap: break-word
---
// 1
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 0
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 1
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 1
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 1
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 1
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 1
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 1
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 1
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 1
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 1
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 1
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 1
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 1
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 1
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 1
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 1
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 1
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 1
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 1
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 1
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// Target side
color: var(--content-soft, #889DB8);
 font-size: 12px;
 font-family: Segoe UI;
 font-weight: 600;
 text-transform: uppercase;
 line-height: 18px;
 letter-spacing: 0.80px;
 word-wrap: break-word
---
// Select an option
color: var(--content-disabled, #C3CEDC);
 font-size: 12px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 12px;
 word-wrap: break-word
---
// Left
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// Unknown
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// Left
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// Left
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// Left
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// Left
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// Left
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// Left
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// Left
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// Left
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// Left
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// Left
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// Left
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// Left
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// Left
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// Left
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// Left
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// Left
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// Left
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// Left
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// Left
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// LOGICX
color: #7288A2;
 font-size: 12px;
 font-family: Segoe UI;
 font-weight: 600;
 text-transform: uppercase;
 line-height: 18px;
 letter-spacing: 0.80px;
 word-wrap: break-word
---
// 11
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 0
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 11
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 11
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 11
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 11
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 11
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 11
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 11
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 11
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 11
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 11
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 11
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 11
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 11
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 11
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 11
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 11
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 11
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 11
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// 11
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 17.50px;
 word-wrap: break-word
---
// Status
color: var(--content-soft, #889DB8);
 font-size: 12px;
 font-family: Segoe UI;
 font-weight: 600;
 text-transform: uppercase;
 line-height: 18px;
 letter-spacing: 0.80px;
 word-wrap: break-word
---
// Select an option
color: var(--content-disabled, #C3CEDC);
 font-size: 12px;
 font-family: Segoe UI;
 font-weight: 400;
 line-height: 12px;
 word-wrap: break-word
---
// Edit
color: var(--content-soft, #889DB8);
 font-size: 12px;
 font-family: Segoe UI;
 font-weight: 600;
 line-height: 12px;
 word-wrap: break-word
---
// Disabled
color: var(--content-soft, #889DB8);
 font-size: 12px;
 font-family: Segoe UI;
 font-weight: 600;
 line-height: 12px;
 word-wrap: break-word
---
// DETAILS
color: var(--content-default, #2E4052);
 font-size: 12px;
 font-family: Segoe UI;
 font-weight: 700;
 line-height: 12px;
 word-wrap: break-word
---
// STATION NAME
color: var(--content-soft, #889DB8);
 font-size: 12px;
 font-family: Segoe UI;
 font-weight: 600;
 text-transform: uppercase;
 line-height: 18px;
 letter-spacing: 0.80px;
 word-wrap: break-word
---
// LiftingStationForLevelChange_1
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 600;
 line-height: 17.50px;
 word-wrap: break-word
---
// STATIONS TYPE
color: var(--content-soft, #889DB8);
 font-size: 12px;
 font-family: Segoe UI;
 font-weight: 600;
 text-transform: uppercase;
 line-height: 18px;
 letter-spacing: 0.80px;
 word-wrap: break-word
---
// 62 - Elevator
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 600;
 line-height: 17.50px;
 word-wrap: break-word
---
// STATION NUMBER
color: var(--content-soft, #889DB8);
 font-size: 12px;
 font-family: Segoe UI;
 font-weight: 600;
 text-transform: uppercase;
 line-height: 18px;
 letter-spacing: 0.80px;
 word-wrap: break-word
---
// 1
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 600;
 line-height: 17.50px;
 word-wrap: break-word
---
// LEVEL
color: var(--content-soft, #889DB8);
 font-size: 12px;
 font-family: Segoe UI;
 font-weight: 600;
 text-transform: uppercase;
 line-height: 18px;
 letter-spacing: 0.80px;
 word-wrap: break-word
---
// 0
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 600;
 line-height: 17.50px;
 word-wrap: break-word
---
// AISLE
color: var(--content-soft, #889DB8);
 font-size: 12px;
 font-family: Segoe UI;
 font-weight: 600;
 text-transform: uppercase;
 line-height: 18px;
 letter-spacing: 0.80px;
 word-wrap: break-word
---
// 0
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 600;
 line-height: 17.50px;
 word-wrap: break-word
---
// LEVEL
color: var(--content-soft, #889DB8);
 font-size: 12px;
 font-family: Segoe UI;
 font-weight: 600;
 text-transform: uppercase;
 line-height: 18px;
 letter-spacing: 0.80px;
 word-wrap: break-word
---
// 0
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 600;
 line-height: 17.50px;
 word-wrap: break-word
---
// TARGET SIDE
color: var(--content-soft, #889DB8);
 font-size: 12px;
 font-family: Segoe UI;
 font-weight: 600;
 text-transform: uppercase;
 line-height: 18px;
 letter-spacing: 0.80px;
 word-wrap: break-word
---
// Unknown
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 600;
 line-height: 17.50px;
 word-wrap: break-word
---
// LOGICX
color: var(--content-soft, #889DB8);
 font-size: 12px;
 font-family: Segoe UI;
 font-weight: 600;
 text-transform: uppercase;
 line-height: 18px;
 letter-spacing: 0.80px;
 word-wrap: break-word
---
// 0
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 600;
 line-height: 17.50px;
 word-wrap: break-word
---
// STATUS
color: var(--content-soft, #889DB8);
 font-size: 12px;
 font-family: Segoe UI;
 font-weight: 600;
 text-transform: uppercase;
 line-height: 18px;
 letter-spacing: 0.80px;
 word-wrap: break-word
---
// Active mode
color: var(--content-soft, #889DB8);
 font-size: 12px;
 font-family: Segoe UI;
 font-weight: 600;
 text-transform: uppercase;
 line-height: 18px;
 letter-spacing: 0.80px;
 word-wrap: break-word
---
// eBidirectional
color: var(--content-default, #2E4052);
 font-size: 14px;
 font-family: Segoe UI;
 font-weight: 600;
 line-height: 17.50px;
 word-wrap: break-word