
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/globalFonts/Raleway-VariableFont_wght.ttf');
    src: local('☺'), url('../fonts/globalFonts/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
